*{
    margin: 0;
    padding: 0;
}

body{
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo{
    border-top: 1px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0px 22px 0px;
    text-transform: uppercase;
    margin-left: 40px;
    color: white;
}

.logo a{
    text-decoration: none;
    color: white;
}

.tagline{
    margin: 60px 250px 30px 0px;
    text-align: right;
    font-size: x-large;
}

div{
    display: block;
}

.options{
    position: absolute;
    right: 210px;
    text-align: right;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    display: block;
    /* background-color: red; */
    width: 700px;
}

.options ul{
    list-style: none;
    font-size: 14px;
    display: block;
    margin-right: 20px;
    
}

.options ul li{
    display: inline-block;
    margin: 15px 15px;
}

.options ul li :hover{
    color: rgba(167, 161, 161, 0.705);
}

.options ul li a{
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

.midbody{
    position: absolute;
    /* background-color: rosybrown; */
    top: 250px;
    left: 350px;
    height: 300px;
    width: 900px;
}

.first{
    text-align: center;
    font-size: xx-large;
    color: #888;
}

.second{
    text-align: center;
    color: white;
    margin: 40px 0px 60px 0px;
    font-size: x-large;
    /* font-style: italic; */
}

.button{
    position: absolute;
    /* right: 500px; */
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 25px;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 370px;
    
}

.midbody h5 :hover{
    background-color: white;
    color: black;
}

.table{display: grid;
    background-color: white;
    width: 98.9vw;
    position: absolute;
    top: 600px;
    text-align: center;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    
}

.text{
    justify-content: center;
}

.edit{
    text-decoration: none;
    color: black;
}

.col1 h4 :hover{
    color: rgb(80, 78, 78);
}

.col2 h4 :hover{
    color: rgb(80, 78, 78);
}

.col1{
    padding: 30px 0px 0px 0px;
}

.col2{
    padding-top: 30px;
}



footer{
    position: absolute;
    top: 875px;
    background-color: black;
    color: white;
    height: 40px;
    width: 98.9vw;
    text-align: center;
}

